@model TicketOnLine_webSite.Models.ClientsWeb

<div>
    <h4>ClientsWeb</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateNaisance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateNaisance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<a class="btn btn-danger" asp-route="_FinalisationReservation2" >Next</a>