@model TicketOnLine_webSite.Models.EventWeb
@{
    ViewData["Title"] = "DetailsEvent2";
}

    <div class="row">
        <div class="col-sm-6">
            <img class="product-image img-fluid img-thumbnail" src="~/Images/ImageEvent/@Html.DisplayFor(model => model.Image)" alt="image of @Html.DisplayNameFor(model => model.NomSpectacle)" />
        </div>
        <div class="col-sm-6">
            <p>Reservation</p>
            <p>Durée du spectacle : @Html.DisplayFor(model => model.Duree)</p>
            <p>Nombre de place disponible : @Html.DisplayFor(model => model.PlaceRestante)</p>
            <p>@Html.DisplayFor(model => model.Id)</p>
            <p>Prix : @Model.Prix</p>


            @Html.ActionLink("reservation", "GetInfoReservation", "Home", new { id = Model.Id })

            <a asp-controller="Home" asp-action="GetInfoReservation" asp-route-id="@Model.Id">
                <button class="btn order-button" asp-action="Index" asp-controller="Home">reservation</button>
            </a>
        </div>
    </div>  
    <div class="row">
        <div class="col-sm-6">
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div> 
        <div class="col-sm-6">
            <div class="container">
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-2">User</div>
                    <div class="col-4"><input type="text" id="userInput" /></div>
                </div>
                <div class="row">
                    <div class="col-2">Message</div>
                    <div class="col-4"><input type="text" id="messageInput" /></div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-6">
                        <input type="button" id="sendButton" value="Send Message" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <ul id="messagesList"></ul>
                </div>
            </div>
            <script src="~/js/signalr/dist/browser/signalr.js"></script>
            <script src="~/js/chat.js"></script>
        </div>
    </div>























@*<div class="left yellow">
        <img class="product-image img-fluid img-thumbnail" src="~/Images/ImageEvent/@Html.DisplayFor(model => model.Image)" alt="image of @Html.DisplayNameFor(model => model.NomSpectacle)" />
    </div>

    <div class="clear des">
        <p>@Html.DisplayFor(model => model.Description)</p>
    </div>*@


@*<div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4"><input type="text" id="userInput" /></div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>*@